/*
    Document   : newtemplate.css
    Created on : 2016-03-14 02:34 PM
    Author     : harrisk
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/


<!DOCTYPE html>
<html>
<head>

h1{
    color: blue;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #0099ff;
}

body{
    background-image: url("coventry.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 200px 70px;
    background-position: absolute;
    text-align: center;
}




#nav {
    margin: 0;
    padding 4px 8px;
    list-style-type: none;
    text-align: center;
}
#nav {
    font-family: Arial, Helvetica, sans-serif;
    color: #0099ff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: ;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

<body>




table {
    border-collapse: collapse;
    width: 100%;
    opacity: 0.8;
}

td {
    height: 50px;
    vertical-align: bottom;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 50px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:white;
}
table#t01 th	{
    background-color: #0099ff;
    color: white;
}
table#t01 th {
    font-family: Arial, Helvetica, sans-serif;

}

p {
    color:white;
}



    
    


#t01 td {
    height: 1.6em;
}

a:link {
    color: black;
}
a:link {
    font-family: Arial, Helvetica, sans-serif;

}

a:visited {
    color: black;
    text-decoration: none;
}


a:hover {
    color: black;
    text-decoration: underline;
}


a:active {
    color: yellow;
}


.searchbar{
    text-align: right;
}

.signin{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;

}
}

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 100 px;
    overflow: hidden;
    background-color:#333 ;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0099ff;
}

.active {
    background-color: #0099ff;
}
</style>

<body>

<ul>
  <li><center><a class="active" href="#home">Home</a></center></li>
  <li><center><a href="#news">News</a></center></li>
  <li><center><a href="#contact">Contact</a></center></li>
  <li><center><a href="#about">About</a></center></li>
</ul>



</body>
</html>