h1{
    15px arial, sans-serif;
}

body{
    background-image: url("coventry.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1024px 768px;
    background-position: center;
}



#nav {
    margin: 0;
    padding 4px 8px;
    list-style-type: none;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0 px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0099ff;
}

.active {
    background-color: #0099ff;
}

<body>




table {
    border-collapse: collapse;
    width: 100%;
    opacity: 0.8;
}
div.static {
    position: static;
    border: 3px solid #73AD21;
}

td {
    height: 50px;
    vertical-align: bottom;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:white;
}
table#t01 th	{
    background-color: #20D4EC;
    color: black;
}


p {
    color:black;
}



    
    


#t01 td {
    height: 1.6em;
}

a:link {
    color: black;
}


a:visited {
    color: black;
    text-decoration: none;
}


a:hover {
    color: black;
    text-decoration: underline;
}


a:active {
    color: yellow;
}


.searchbar{
    text-align: right;
}
